<!DOCTYPE html>
<html>

<head>
    <!-- <link rel="stylesheet" href="/styles.css"> -->
    <link rel="stylesheet" href="/styles/outbox.css">
    <title>Outbox</title>
</head>

<body>
    <div class="container">
        <h2>Outbox - <%= user.fullname %>
        </h2>
        <a href="/logout">Sign out</a>

        <ul>
            <% emails.forEach(email=> { %>
                <li>
                    To: <%= email.receiver %> |
                        <a href="/email/<%= email.id %>">
                            <%= email.subject || "(no subject)" %>
                        </a> |
                        <%= email.created_at %>
                </li>
                <% }); %>
        </ul>

        <a href="/email/compose">Compose Email</a> |
        <a href="/email/inbox">Inbox</a>
    </div>
</body>

</html>